src/main/resources/complex-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jboss.org" xmlns:tns="http://jboss.org" elementFormDefault="qualified">

	<element name="complexTypeOneElement" type="tns:complexTypeOne"/>
	
	
	<complexType name="complexTypeOne">
		<sequence>
			<element name="name" type="string"/>
			<element name="complexTypeTwo" type="tns:complexTypeTwo"/>
		</sequence>
	</complexType>
	
	<complexType name="complexTypeTwo">
		<sequence>
			<element name="name" type="string"/>
		</sequence>
	</complexType>

</schema>